
<div class="row">
    <div class="span4 offset4 well">
        <button class="btn btn-info" ng-click="toggleType()">Toggle API</button>
        <legend ng-show="!deferred">Balance Inquiry</legend>
        <form ng-show="!deferred" ng-submit="balance()">
            <select class="span4" ng-model="card.retailer">
                <option value="" disabled selected>Select a Retailer</option>
                <option ng-click="getCards()" ng-repeat="retailer in retailers" value="{{retailer.id}}">{{ retailer.name }}</option>
            </select>
            <input type="text" id="cardNum" class="span4" name="cardNum" placeholder="Card Number" ng-model="card.cardNumber" required>
            <input type="text" id="pin" class="span4" name="pin" placeholder="Pin" ng-model="card.pin">
            <button type="submit" id="get-balance" class="btn btn-info btn-block">Get Balance</button>
        </form>
        <legend ng-show="deferred">Get Deferred Balance</legend>
        <form ng-show="deferred" ng-submit="getDeferredBalance()">
            <input type="text" id="requestId" class="span4" name="requestId" placeholder="Balance Request Id" ng-model="requestId" required>
            <button type="submit" class="get-deferred-balance btn btn-info btn-block">Get Deferred Balance</button>
        </form>
        <div id="loadingWidget" class="row-fluid ui-corner-all" style="display: none;">
            <div class="alert alert-info">
                Getting your balance...
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span10 offset1">
        <div class="alert" ng-class="{'alert-error':response.data.responseCode != '000' && response.data.responseCode != '010','alert-success':response.data.responseCode == '000'}" ng-show="response.data">
            <p>
                {{ response.data}}
            </p>

        </div>
        <table class="table table-bordered">
            <tbody>
            <thead>
            <tr>
                <th>Retailer</th>
                <th>Card Number</th>
                <th>Pin</th>
                <th>Balance</th>
            </tr>
            </thead>

            <tr ng-repeat="result in results" ng-class="{'success':result.responseCode =='000','error':result.responseCode != '000' && result.responseCode != '010','warning':result.responseCode == '010'}">
                <td>{{ findRetailerName(result.retailer) }}</td>
                <td>{{ result.cardNumber }}</td>
                <td>{{ result.pin }}</td>
                <td ng-show="result.responseCode == '000'">{{ result.balance }}</td>
                <td ng-show="result.responseCode != '000' && result.responseCode != '010'">{{ result.message }}</td>
                <td ng-show="result.responseCode == '010'"><button ng-click="getDeferredBalance($index,result.balanceId)" class="get-deferred-balance btn btn-info btn-block">Check Deferred Balance</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

