

<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Balance Inquiry Demo</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    </head>
    <body>
        <%- body %>
    </body>
</html>

